* {margin: 0; padding: 0;}

html, body {height: 100%;}

body {font-family: 'PT Sans', sans-serif; color: #3e3e3e; font-size: 16px;}
button, input {font-family: 'PT Sans', sans-serif;}

._display_none {display: none;}
._text_center {text-align: center;}

._left {float: left;}
._right {float: right;}
.clear {overflow: hidden; clear: both;}

.f18 {font-size: 18px;}
.w96 {width: 96px;}
.bg-color-grey {background-color: #e7e5e5;}

.wspace {height: auto !important; min-height: 100%;}

.container {width: 1218px; margin: 0 auto;}

.header {height: 57px; background-color: #128a5e; width: 100%; color: #ffffff; box-shadow: 0 0 6px rgba(0, 0, 0, 0.75); line-height: 50px;}
.header .title-head {font-size: 24px; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); display: inline-block;}
.header .title-head:after {content: ""; display: block; width: 18px; height: 57px; background: url(../images/header-arrow.png) no-repeat 0 0; float: right; margin: 0 0 0 2px;}
.header .head-search-form {display: inline-block; font-size: 16px; margin: 0 0 0 2px;}
.header .head-search-form label {margin: 0 0 0 13px;}
.header .head-search-form input {height: 31px; line-height: 31px; box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.33); border: 0; font-size: 16px; padding: 0 9px 0 9px; margin: 0 0 0 9px; color: #3e3e3e;}
.header .head-search-form input.input-search-fio {width: 321px;}

.select-form {display: inline-block; position: relative; height: 31px; line-height: 50px; height: 21px; margin: 0 19px 0 0;}
.select-form .select-text {width: 100%; display: block; height: 31px; line-height: 31px; box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.33); padding: 0 9px 0 9px; margin: 0; position: absolute; color: #3e3e3e; background-color: #ffffff;}
.select-form .select-text:after {content: ""; display: block; position: absolute; width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #555555; top: 13px; right: 6px;}
.select-form select {height: 31px; box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.33); border: 0; font-size: 16px; padding: 5px 5px 10px 5px; display: block; opacity: 0;}
.select-day {width: 32px;}
.select-day select {width: 50px; margin: 0 0 0 0;}
.select-month {width: 75px;}
.select-month select {width: 93px; margin: 0 0 0 0;}
.select-year {width: 51px;}
.select-year select {width: 69px; margin: 0 0 0 0;}

.btn {display: inline-block; border: 1px solid; border-radius: 5px 5px 5px 5px; height: 32px; line-height: 30px; padding: 0 10px 0 10px; cursor: pointer; text-align: center; text-decoration: none; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35); color: #ffffff;}
.btn.green {background: linear-gradient(#47be93, #22a072); border: 0;}
.btn.green:hover {background: linear-gradient(#22a072, #47be93);}
.btn.bold {font-weight: bold;}
.btn.green.inset {background: linear-gradient(#23a173, #128a5e); border: 1px solid #0d6746; box-shadow: 1px 1px 0 #45a381, inset 2px 2px 0 #45a381; text-shadow: none;}
.btn.green.inset:hover {background: linear-gradient(#128a5e, #23a173);}
.btn.blue {background: linear-gradient(#54acd0, #1186b7); border: 0;}
.btn.blue:hover {background: linear-gradient(#1186b7, #54acd0);}
.btn.blue-light {background: linear-gradient(#9dc5d5, #67a0b8); border: 0;}
.btn.blue-light:hover {background: linear-gradient(#67a0b8, #9dc5d5);}
.btn.big {padding: 0 25px 0 25px; height: 53px; line-height: 53px;}
.btn.big-br {padding: 8px 25px 0 25px; height: 45px; line-height: 16px;}

.hfooter {height: 42px;}
.footer {height: 42px; background-color: #128a5e; width: 100%; margin: -42px 0 0 0; line-height: 0px;}

.footer ul {list-style: none; overflow: hidden;}
.footer ul li {float: left; line-height: 42px; color: #ffffff; font-size: 16px; margin-right: 9px; margin-left: 9px;}

.footer .logo-footer {width: 68px; height: 34px; background: url(../images/logo-footer.png) no-repeat 0 0; margin-top: 4px;}
.footer .separator {height: 24px; border-left: 1px solid #0d714d; border-right: 1px solid #499479; width: 0; margin-top: 9px;}

.btn-container {clear: both; position: absolute; bottom: 64px; width: 683px;}
.btn-container ._left {margin: 0 15px 0 0;}

.dialog-window {position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 999;}
.dialog-window .bg-dialog {background: rgba(255, 255, 255, 0.5); width: 100%; height: 100%; position: absolute; z-index: 0;}
.content-dialog {margin: auto; box-shadow: 0 0 9px rgba(0, 0, 0, 0.5); background-color: #ffffff; position: absolute; top: 0; left: 0; bottom: 0; right: 0; z-index: 1;}
.duty-add-done-dialog {padding: 80px 0 40px 0; width: 775px; height: 235px;}
.duty-add-done-dialog h1 {font-size: 24px; font-weight: normal; line-height: 34px;}
.duty-add-done-dialog .btn {margin: 94px 0 0 0;}
.security-unknown-dialog {border: 3px solid #c81f22; width: 859px; height: 481px; padding: 70px 0 0 0;}
.security-unknown-dialog h1 {font-size: 32px; font-weight: normal; color: #c81f22; line-height: 82px;}
.security-unknown-dialog .line {width: 453px; margin: 0 auto;}
.security-unknown-dialog p {line-height: 34px; padding: 15px 0 0 0;}

.security {border: 3px solid #e5e6e6; width: 769px; height: 401px; padding: 75px 0 75px 90px;}
.security table {margin: -12px 0 0 0;}
.security table th {text-align: left; font-weight: normal; color: #7c7c7c;}
.security table th,
.security table td {line-height: 34px; height: 34px; padding: 0 0 0 28px;}
.security .line {width: 686px; margin: 30px 0 30px 0;}
.security .resolution-block {width: 686px; text-align: center;}
.box {width: 182px; height: 37px; line-height: 37px; color: #3e3e3e; margin: 20px auto 0 auto; text-align: center;}
.box.red {background-color: #f37e80;}
.box.green {background-color: #9ed4af;}

.security-visitor-dialog .line {width: 504px; padding: 15px 0 0 0; margin: 0 0 10px 0;}
.security-visitor-dialog ._left {margin: 0 28px 0 0;}

.duty-alarm-dialog h1,
.security-visitor-dialog h1 {font-size: 32px; font-weight: normal; color: #c81f22; line-height: 23px;}

.duty-alarm-dialog {border: 3px solid #c81f22; width: 679px; height: 575px; padding: 0 90px 0 90px;}
.duty-alarm-dialog h1 {line-height: 82px; text-align: center;}
.duty-alarm-dialog .grey {color: #7c7c7c; line-height: 50px;}

.system-info-container {margin: auto; background-color: #ffffff; position: absolute; top: 0; left: 0; bottom: 0; right: 0; z-index: 1; width: 740px; height: 335px; text-align: center;}
.system-info-container h1 {font-size: 32px; font-weight: normal; padding: 0 0 29px 0;}
.system-info-container ._left {width: 314px;}
.system-info-container ._right {width: 422px;}
.system-info-container h2 {background-color: #128a5e; font-weight: normal; font-size: 18px; height: 34px; line-height: 34px; color: #ffffff; display: block;}
.system-info-container table {width: 100%; border: 1px solid #e1e4e3; border-collapse: collapse;}
.system-info-container table thead {background-color: #e7e5e5;}
.system-info-container table th,
.system-info-container table td {padding: 10px 0 9px 0;}
.system-info-container table th div,
.system-info-container table td div {border-left: 1px solid; height: 50px; line-height: 50px;}
.system-info-container table th:nth-child(1) div,
.system-info-container table td:nth-child(1) div {border: 0;}
.system-info-container table thead div {border-color: #c5cac8;}
.system-info-container table tbody div {border-color: #dcdfde;}
.system-info-container ._right table thead tr:nth-child(1) td:nth-child(1) div {border-right: 1px solid #c5cac8; height: 50px; line-height: 50px; width: 106px;}
.system-info-container ._right table thead tr:nth-child(1) td:nth-child(2) div {border: 0; line-height: 16px; height: 1px; position: relative; width: 313px;}
.system-info-container ._right table thead tr:nth-child(1) td:nth-child(2) div i {display: inline-block; height: 1px; width: 100px; background-color: #c5cac8; margin: 0 4px 4px 4px;}
.system-info-container table thead tr:nth-child(1) td:nth-child(2) {padding: 0;}
.system-info-container table thead tr:nth-child(2) td div {height: 26px; line-height: 14px;}
.system-info-container ._right table thead tr:nth-child(2) td:nth-child(1) div {width: 103px; line-height: 26px;}
.system-info-container .btn {margin: 40px 0 0 0;}

.security-unknown-dialog p,
.duty-add-done-dialog p {font-size: 18px;}
.line {border-bottom: 1px solid #e7e5e5; height: 0;}